@import 
url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

header {
    background-color:#162783;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}
.logo {
    width: auto;
    cursor: pointer;
    margin: 12px 24px;
    padding: 8px 16px;
    background-color: white;
    color: #162783;
    font-size: 2em;
    border-radius: 50%;
}
.nav-bar-items {
    list-style: none;
    display: flex;
}

.nav-bar li {
    padding: 16px 32px;
}

.nav-bar-items li a {
    font-weight: 700;
}

a {
    text-decoration: none;
    color: white;
}

.content {
    max-width: 1200px;
    margin-left: 0 auto;
    margin-bottom: 200px;
    padding: 0px 32px;
}

#profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    margin: 01.5%;
}

#profile-picture {
    height: 300px;
    object-fit: cover;
    border-radius: 25%;
}

.title-1 {
    margin : 24px 0px;
    font-size: 2.5em;
    font-weight: 700;
    color:#162783;
}

.subtitle {
    font-size: 1.25em;
    line-height: 1.4;
    margin: 24px 0;
}

#bio {
    margin-left: 96px;
}

.social-media-container a {
    height: 16px;
}

.social-media-container a img{
    height: 25px;
}

hr {
    margin: 32px 1.5%;
}

.portfolio-picture {
    height: 250px;
    width: 40%;
    border-radius: 16px;
    object-fit: cover;
}

.portfolio-card {
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 1.5%;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0.3);
}

.portfolio-card div {
    width: 60%;
    margin-left: 16px;
    margin-right: 16px;
}

.title-2 {
    padding-top: 96px;
    margin-left: 1.5%;
    font-size: 1.5em;
    color: #162783;
    font-weight: 700;
}

.title-3 {
    color: #162783;
    margin: 16px 0px;
    font-size: 1.25em;
    font-size: 700;
}

.title-4 {
    font-size: 1em;
    margin: 0px 0px;
}

.description {
    line-height: 1.5;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.skill-card {
    flex: 0 1 22%;
    background-color: white;
    margin: 16px 1.5%;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0.3);
}

.skill-picture {
    height: auto;
    width: 100%;
    margin-bottom: 16px;
    margin-top: 16px;
}

.skill-title {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 700;
    color: #162783;
}

.experience-card {
    margin: 32px 1.5%;
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0.3);
}

.education-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.education-card {
    flex: 0 1 30%;
    margin: 16px 1.5%;
    padding: 16px 16px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px rgb(0, 0, 0.3);
}

.education-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.education-card {
    flex: 0 1 30%;
    margin: 16px 1.5%;
    padding: 16px 16px;
    background-color: white;
    border-radius: 10px; 
}

footer {
    text-align: center;
    padding: 32px;
    background-color: #162783;
    color: white;
}

@media screen and (max-width: 700px) {
    header {
        position: static;
        flex-direction: column;
    }

    .nav-bar-items {
        flex-direction: column;
        text-align: center;

    }

    #profile-container {
        padding-top: 32px;
        flex-direction: column;
    }

    #bio {
        margin: 16px;
        padding: 16px 0px;
    }

    .portfolio-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .portfolio-card div {
        width: 100%;
        margin: 16px;
    }

    .portfolio-picture {
        width: 100%;
        height: auto;
    }

    .skill-card {
        flex: 0 1 47%;
    }

    .education-card {
        flex: 0 1 97%;
        
    }
}